Imports

In [61]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

HTTP Request

In [62]:
# Store website in variable

website = "https://www.cars.com/shopping/results/?stock_type=cpo&makes%5B%5D=mercedes_benz&models%5B%5D=&list_price_max=&maximum_distance=20&zip="

In [63]:
# Get request

response = requests.get(website)

In [64]:
# Status code

response.status_code

200

In [ ]:
# Soup Object   

soup = BeautifulSoup(response.content, 'html.parser')
soup

In [ ]:
# Results

results = soup.find_all('div', {'class':'vehicle-card'})
results

In [67]:
len(results)

21

In [ ]:
results[0]

Getting the necessary data

In [69]:
# Name

results[0].find('h2', {'class':'title'}).text

'2019 Mercedes-Benz C-Class C 300'

In [70]:
# Mileage

results[0].find('div', {'class':'mileage'}).text.strip().replace('mi.', '').replace(' ','')

'42,397'

In [71]:
# Rating 

results[0].find('span', {'class':'sds-rating__count'}).text

'4.9'

In [72]:
# Rating count

results[0].find('span', {'class':'sds-rating__link sds-button-link'}).text.strip().replace('(','').replace(')','').replace('reviews','').replace(' ','')

'6,299'

In [73]:
# Price

results[0].find('span', {'class':'primary-price'}).text

'$31,988'

In [74]:
# Dealer name

results[0].find('div', {'class':'dealer-name'}).text.strip().replace('\n', ', ')

"Walter's Mercedes-Benz of Riverside"

Putting everything in a for loop

In [75]:
name = []
mileage = []
rating = []
rating_count = []
price = []
dealer_name = []

for result in results:
    
    # Name 
    try:
        name.append(result.find('h2', {'class':'title'}).text)
    except:
        name.append('N/A')
        
    # Mileage
    try:
        mileage.append(result.find('div', {'class':'mileage'}).text.strip().replace('mi.', '').replace(' ',''))
    except:
        mileage.append('N/A')
    
    # Rating
    try:
        rating.append(result.find('span', {'class':'sds-rating__count'}).text)
    except:
        rating.append('N/A')
    
    # Rating count
    try:
        rating_count.append(result.find('span', {'class':'sds-rating__link sds-button-link'}).text.strip().replace('(','').replace(')','').replace('reviews','').replace(' ',''))
    except:
        rating_count.append('N/A')
    
    # Price
    try:
        price.append(result.find('span', {'class':'primary-price'}).text)
    except:
        price.append('N/A')
    
    # Dealer name
    try:
        dealer_name.append(result.find('div', {'class':'dealer-name'}).text.strip().replace('\n', ', '))
    except:
        dealer_name.append('N/A')

Scrapping from many pages

In [91]:
name = []
mileage = []
rating = []
rating_count = []
price = []
dealer_name = []

for i in range(1,171):
    
    # Website
    website = "https://www.cars.com/shopping/results/?stock_type=cpo&makes%5B%5D=mercedes_benz&models%5B%5D=&list_price_max=&maximum_distance=20&zip="
    
    # Get request
    response = requests.get(website)
    
    # Soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Results
    results =  soup.find_all('div', {'class':'vehicle-card'})
    

    for result in results:
        
        # Name 
        try:
            name.append(result.find('h2', {'class':'title'}).text)
        except:
            name.append('N/A')
            
        # Mileage
        try:
            mileage.append(result.find('div', {'class':'mileage'}).text.strip().replace('mi.', '').replace(' ',''))
        except:
            mileage.append('N/A')
        
        # Rating
        try:
            rating.append(result.find('span', {'class':'sds-rating__count'}).text)
        except:
            rating.append('N/A')
        
        # Rating count
        try:
            rating_count.append(result.find('span', {'class':'sds-rating__link sds-button-link'}).text.strip().replace('(','').replace(')','').replace('reviews','').replace(' ',''))
        except:
            rating_count.append('N/A')
        
        # Price
        try:
            price.append(result.find('span', {'class':'primary-price'}).text)
        except:
            price.append('N/A')
        
        # Dealer name
        try:
            dealer_name.append(result.find('div', {'class':'dealer-name'}).text.strip().replace('\n', ', '))
        except:
            dealer_name.append('N/A')

Pandas Dataframe

In [93]:
car_dealer = pd.DataFrame({'Name': name, 'Dealer Name': dealer_name, 'Price': price, 'Mileage': mileage, 'Rating': rating, 'Rating Count': rating_count,})
car_dealer

,Name,Dealer Name,Price,Mileage,Rating,Rating Count
0,2016 Mercedes-Benz GLC-Class GLC 300,Mercedes-Benz of Laguna Niguel,"$25,604","47,691",4.8,"1,708"
1,2022 Mercedes-Benz GLS 450 4MATIC,Mercedes-Benz Of Tacoma,"$89,989","4,256",4.4,"3,075"
2,2020 Mercedes-Benz AMG SLC 43 Base,Mercedes-Benz of Portland,"$64,017","9,263",4.6,"1,478"
3,2021 Mercedes-Benz GLB 250 Base 4MATIC,Mercedes-Benz of Portland,"$38,989","4,481",4.6,"1,478"
4,2020 Mercedes-Benz GLA 250 Base,Mercedes-Benz of South Bay,"$31,896","28,475",4.6,"1,421"
...,...,...,...,...,...,...
3565,2022 Mercedes-Benz GLB 250 Base,Mercedes-Benz of South Orlando,"$43,007","1,915",4.7,"1,294"
3566,2020 Mercedes-Benz AMG GT 63 S 4-Door,Mercedes-Benz of Orlando,"$165,990","5,625",4.7,770
3567,2019 Mercedes-Benz GLC 300 Base,Mercedes-Benz of Miami,"$26,995","55,795",4.5,"1,133"
3568,2018 Mercedes-Benz AMG GLC 43 Base 4MATIC,Mercedes-Benz of Orlando,"$39,990","45,076",4.7,770
3569,2018 Mercedes-Benz GLE 350 Base 4MATIC,Mercedes-Benz of Pleasanton,"$36,442","49,188",2.5,56